.DS_Store
.pyc
__pycache__
__pycache__/*

# static folder (css, js, etc) local
static
static/*

# vscode settings
.vscode/*

# media folder (uploaded file by user) local
media
media/*
upload
upload/*

db.sqlite3
